
/* @media screen and (max-width: 480px) {
    .titulo {
      width:  300px !important;
    }
  } */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url('./img/cursor.cur'), auto;
}
.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

.title{
    width: 60%;
    padding: 10px;
}

.description{
    width: 50%;
    height: 100%;
    background: #97CE4C;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 14px;
    box-shadow: inset 0 0 10px gray;
}

.body1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0099CC;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0 0 10px gray;
}

.filter{
    width: 90%;
    height: 45%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.form {
    text-align: center;
    padding: 5%;
    text-shadow: 1px 1px 2px gray;
}
.divinput {
    line-height: 30px;
}

.character{
    width: 90%;
    height: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.imglogo{
    width: 100%;
}

.resume{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-align: justify;
    text-shadow: 2px 2px 2px gray;

}
#selectcharacter, #selectstatus, #selectgender, #selectspecies {
    cursor: url('./img/cursor.cur'), auto;
}

@media (max-width: 375px) {
    body {
        background-image: url(./img/fondomoviles.png);
    }
    .resume {
        font-size: 7px;
    }
    .divinput {
        font-size: 8px;
        line-height: 20px;
    }
    #selectcharacter, #selectstatus, #selectgender, #selectspecies {
        height: 15px;
        width: 20%;
    }
}
@media (min-width: 376px) and (max-width: 768px){
    .resume {
        font-size: 12px;
    }
    .divinput {
        font-size: 12px;
        line-height: 25px;
    }
    #selectcharacter, #selectstatus, #selectgender, #selectspecies {
        width: 20%;
        height: 20px;
    }
}