
/* @media screen and (max-width: 480px) {
    .titulo {
      width:  300px !important;
    }
  } */

.screen{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

.title{
    width: 50%;
    padding: 10px;
}

.description{
    width: 50%;
    height: 100%;
    background: #97CE4C;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: medium;
}

.body1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0099CC;
    border-radius: 0px 0px 10px 10px;
}

.filter{
    width: 408px;
    height: 169px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;

}

.character{
    width: 408px;
    height: 188px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 5%;
}

.imglogo{
    width: 100%;
}

.resume{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: blue;
    text-align: justify;

}