
@media screen and (max-width: 480px) {
    .titulo {
      width:  300px !important;
    }
  }

.pantalla{
    
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;

} 

.titulo{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
  
}

.descripcion{
    width: 472px;
    height: 129px;
    margin-left: auto;
    margin-right: auto;
    background: #97CE4C;
    border-radius: 10px 10px 0px 0px;
}

.cuerpo{
    width: 472px;
    height: 423px;
    margin-left: auto;
    margin-right: auto;
    background: #0099CC;
    border-radius: 0px 0px 10px 10px;
}

.filtro{
    width: 408px;
    height: 169px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}

.personaje{
    width: 408px;
    height: 188px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.imagenlogo{

    width: 100%;
    height: 100%;
}